<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <meta charset="utf-8">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6">
    <div ng-controller='ToBuyController as toBuyList'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuyList.items">
         Buy {{item.quantity}} of {{ item.name }}
         <button class="btn btn-default" ng-click="toBuyList.removeItem($index)";>
           <span class="glyphicon glyphicon-ok"></span>
           Bought
         </button>
       </li>
     </ul>
     <div ng-hide="toBuyList.items.length" class="emptyMessage">Everything is bought!</div>
    </div>
    </div>
    <!-- Already Bought List -->
    <div class="col-md-6">
    <div ng-controller='BoughtController as bought'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.items">
       	Bought {{item.quantity}} {{ item.name }}
       </li>
     </ul>
     <div ng-hide="bought.items.length" class="emptyMessage">Nothing bought yet.</div>
    </div>

  </div>
</div>

</body>
</html>
