<!DOCTYPE html>
<html ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Lunch Consumption Checker</title>
  </head>
  <body>
    <h1>Lunch Consumption Checker</h1>
    <div ng-controller='LunchCheckController'>
      <div>
        Enter what you ate today separated  by commas
        <input type="text" ng-model="foodList">
        <font color="red" size="2px"><label>{{blankItemsWarning}}</label></font>
      </div>
      <div>
        <button ng-click="analizeLunchList()">Check If Too Much</button>
        <br>
        {{gradeAmount(foodCount)}}
      </div>
    </div>
  </body>
</html>
